<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>控制台</title>
    <!-- Font -->
    <link rel="stylesheet" href="/fontawesome-5.8.1/css/all.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Bootstrap table CSS -->
    <link rel="stylesheet" href="/webjars/x-editable-bootstrap3/1.5.1/css/bootstrap-editable.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/1.14.2/dist/bootstrap-table.min.css">
    <!-- toastr -->
    <link rel="stylesheet" href="/webjars/toastr/2.1.0/toastr.min.css">
    <!-- sweetalert2 -->
    <link rel="stylesheet" href="/webjars/sweetalert2/7.28.10/dist/sweetalert2.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="index.css">
</head>
<body>