<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>控制台</title>
    <!-- Font -->
    <link rel="stylesheet" href="/fontawesome-5.8.1/css/all.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Bootstrap table CSS -->
    <link rel="stylesheet" href="/webjars/x-editable-bootstrap3/1.5.1/css/bootstrap-editable.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/1.14.2/dist/bootstrap-table.min.css">
    <!-- toastr -->
    <link rel="stylesheet" href="/webjars/toastr/2.1.0/toastr.min.css">
    <!-- sweetalert2 -->
    <link rel="stylesheet" href="/webjars/sweetalert2/7.28.10/dist/sweetalert2.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="index.css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- bootstrap-table js -->
    <script src="/webjars/x-editable-bootstrap3/1.5.1/js/bootstrap-editable.min.js"></script>
    <script src="/webjars/bootstrap-table/1.14.2/dist/bootstrap-table.min.js"></script>
    <script src="/webjars/bootstrap-table/1.14.2/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="/webjars/bootstrap-table/1.14.2/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
    <!-- toastr js -->
    <script src="/webjars/toastr/2.1.0/toastr.min.js"></script>
    <!-- sweetalert2 -->
    <script src="/webjars/sweetalert2/7.28.10/dist/sweetalert2.min.js"></script>
</head>
<body>